body {
  background-color: #1b1b1e !important;
}
.app-container {
  position: relative;
  background-color: #1b1b1e;
}

.sidebar {
  width: 200px;
  background-color: #1b1b1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #58a4b0;
  height: 100vh; /* Sets height based on the viewport height */
  position: fixed;
  margin-left: 0;
  margin-top: 140px;
  margin-bottom: 0;
  z-index: 1;
}

/* App.css */

.top-navbar {
  background-color: #1b1b1e;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  height: auto; /* changes according to content */
  padding: 20px;
  position: fixed;
  top: 0;
  margin-left: 0;
  width: 100%;
  margin-top: 0cm; /* Adjusted to remove the gap */
  z-index: 1;
  
}

.logo {
  margin-top: 10px;
}
.welcome-bar {
  display: flex;
  flex-direction: column;
}
.welcome-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* add gap between text and buttons */
  width: 100%; /* Set the width to 100% to ensure proper alignment */
}

.welcome-message {
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 0;
  text-align: left;
  width: 100%; /* Set the width to 100% to ensure proper alignment */
}

.btn.btn-secondary {
  border-radius: 50px; /* This is for the button group, all tasks, completed, pending, etc. */
  font-size: medium;
  margin-left: 0;
  text-align: left;
  font-weight: bold; /* This is to make the text in the button bolder */
  margin-top: 0.1cm;
  background-color: #8566f5;
  border: #5c32f4;
}

.btn.btn-secondary:hover{
  background-color: #8E8FFA;
  transition: 0.7s;
  text-decoration-color: #1b1b1e;
}

.profile-button {
  background-color: #8E8FFA;
  color: #000000;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: start;
  border-radius: 50px;
}

.profile-image {
  margin-right: 10px; /* Adds gap between image and text */
  max-width: 30px; /*set size*/
}

.profile-text {
  font-size: 16px;
}

.sidebar-button:hover {
  background-color: #1b1b1e;
  transition: 0.2s;
}

.sidebar-link {
  display: block;
  width: 200px;
  background-color: #1b1b1e;
  color: #8f84c5;
  border: none;
  margin: 10px 0;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-size: x-large;
  border-radius: 0px;
  margin-top: 2cm;
}

.sidebar-link:hover {
  background-color: #6f47fc;
  transition: 0.7s;
  border-radius: 0;
}

.logout {
  display: block;
  width: 100%;
  background-color: #a73838;
  color: rgb(255, 251, 251);
  border: none;
  margin: 10px 0;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-size: large;
  border-radius: 50px;
  margin-top: 110%;
}

.logout:hover {
  background-color: #cc0000;
}

.card {
  margin-top: -100px;
  margin-left: -40px;
}

.add-button {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1;
  background-color: #1b1b1e;
  border:none;
  border-radius: 50px;
}


.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: larger;
  width: 100%;
  border-radius: 50px;
}

.circle-checkbox {
  width: 25px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: -1cm;
}

.task-input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: medium;
  border-color: #000000;
  padding: 5px; /* Add padding to ensure consistent size */
}

.add-task-button{
  background-color: #8566f5;
  border: none;
  outline: none;
  font-size: larger;
}





